<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Bienvenue sur ma première page avec le Site du Zéro</title>
</head>
<body>
	<h1>Hello World</h1>
	<p>je m'appelle {{ nom }}</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maxime aliquam animi cupiditate, voluptatibus neque quos quam, assumenda numquam accusamus nulla expedita unde ratione praesentium dolorem magni recusandae non libero!</p>
</body>
</html>
