{# Ce template n'hérite de personne, tout comme le template inclus avec {% include %} #}
<h3>{{ 'index.last_articles'|trans }}</h3>
<ul>
	<ul class="nav nav-pills nav-stacked">
		{% for article in liste_articles %}
			<li><a href="{{ path('sdzblog_voir', {'slug': article.slug}) }}">{{ article.titre }}</a></li>
		{% endfor %}
	</ul>
</ul>