.logo {
	height: 50px;
	width: 50px;

}

ul.competences li {
	list-style-type: none;

}

ul.competences li:before {
	content: "- ";
}

.col-sm-1.perso {
	padding: 0;
}

.col-sm-1 a{
	display: block;
	margin: 0;
	padding: 0;
	height: 17px;
}

li.previous > input {
	display: inline-block;
	float: left;
	margin-left: 10px;
}

.centered {
	display: inline-block;
	text-align: center;
}


/*select, input, label { vertical-align:middle}*/

